.menu {
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 3rem auto;
  background: var(--color-surface);
  box-shadow: 0 0 1rem rgba(0 0 0 / 0.5);
}

.menu__item {
  flex-grow: 1;
  text-align: center;
  line-height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-text);
  opacity: 0.6;
  border-bottom: 0.2rem solid transparent;
  transition: opacity 0.2s, border-color 0.2s;
}

.menu__item:hover {
  opacity: 1;
  border-bottom-color: var(--color-hover);
}

.menu__item-active,
.menu__item-active:hover {
  opacity: 1;
  border-bottom-color: var(--color-active);
}